video{
	height: 50%;
	width:70%;
	float: left;
	background: black;
	position: relative;   /*去掉这句将会使得video优先级失效*/
	z-index: 0;
}

aside
{
position: relative;
background-color:#00FFFF;
width:30%;
height:350px;
overflow: scroll;
}